.cardItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.cardItem .nameCategory {
    width: 80%;
}

.cardItem .nameCategory h2 {
    font-size: 1.5rem;
}

.cardItem > p {
    font-size: 1.5rem;
}

