

.priceForm button {
    border: none;
    background-color: #f9e4c9;
    font-family: Brixton-Outline;
    height: 1.2rem;
    width: 100%
}

.priceForm input {
    border: none;
    height: 1.2rem;
    text-align: center
}

.priceForm {
    display: flex;
    flex-direction: column;
    width: 30%
}

.cartProduct {
    width: 95%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #F9E4C9;
    padding: .8rem .5rem;
    align-items: center;
    gap: .5rem
}

.cartProduct>p {
    font-size: 1.3rem
}

.categories {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    box-shadow: 0 0 1.5rem #000;
    padding: 1rem 3rem;
    height: 0;
    top: 10rem
}

.categories a {
    color: #f9e4c9
}

h2 {
    display: flex;
    font-family: HellPrint;
    font-weight: lighter;
    color: #f9e4c9;
    margin-bottom: 1.5rem;
    align-items: center
}

.show {
    display: flex;
    background-image: url(/assets/wallSC-NfY-Z03e.jpeg);
    height: auto
}

.material-symbols-outlined {
    cursor: pointer
}



.loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem
}

.loginForm button {
    width: 50%;
    border: none;
    background-color: #f9e4c9;
    padding: .8rem 0;
    font-family: Brixton-Outline;
    margin-top: 1rem
}

.loginForm input {
    width: 50%;
    padding: .5rem 0
}