

.priceForm button {
    border: none;
    background-color: #f9e4c9;
    font-family: Brixton-Outline;
    height: 1.2rem;
    width: 100%
}

.priceForm input {
    border: none;
    height: 1.2rem;
    text-align: center
}

.priceForm {
    display: flex;
    flex-direction: column;
    width: 30%
}


.show {
    display: flex;
    background-image: url(/assets/wallSC-NfY-Z03e.jpeg);
    height: auto
}

.material-symbols-outlined {
    cursor: pointer
}



