.loading {
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    animation: blink 2s infinite linear;
}

.loading p {
  text-align: center;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @media screen and (max-width: 800px) {
    .loading h1 {
      font-size: 3rem;
    }
  }

  @media screen and (max-width: 500px) {
    .loading h1 {
      font-size: 2rem;
    }
  }