footer {
    position: absolute;
    bottom: 0;
    background-color: #f9e4c9;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 2.5rem;
}

footer h2, footer p {
    text-align: center;
    color: #373636
}

.links {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #373636;
    padding: 0.1rem;
}

.copyright p {
    color: #f9e4c9;
    text-transform: none;
    font-size: 0.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 800px) {
    .links {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {

    .links {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .copyright {
        padding: 0.5rem 5rem;
    }

    footer {
        padding-bottom: 3rem;
    }
}