
@font-face {
    font-family: HellPrint;
    src: url(/fonts/HellPrint.ttf), url(/fonts/HellPrint.otf)
}

@font-face {
    font-family: Brixton-Outline;
    src: url(/fonts/Brixton-Outline.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}

h1 {
    font-family: HellPrint;
    color: #f9e4c9;
    font-size: 5rem;
    font-weight: lighter;
    margin-top: 5rem;
}

h2 {
    color: #f9e4c9;
    font-family: HellPrint;
    font-weight: lighter;
}

p,
a,
label {
    font-family: Brixton-Outline;
    color: #f9e4c9;
    font-weight: lighter
}

input {
    text-transform: none;
}

a {
    text-decoration: none;
    color: #373636
}

#root {
    background-image: url(/assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 8rem
}